*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    background-color: #111;
}
#page1{
    height: 100vh; 
    /* bcz parents doesnt have a height so no 100% but VH */
    width: 100%;
    background-color: #151515;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 20vh 10vw;
}
.line h1{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 500;
}

